{% extends 'base.html' %}

{% block content %}
<div>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="{% url 'index' %}">New Questions</a>
        </li>
        <li class="list-inline-item">
            <h2><a>Hot Questions</a></h2>
        </li>
    </ul>

    {% for question in questions %}
        {% include 'inc/one_question.html' %}
    {% endfor %}

    <br>
    {% include 'inc/pagination.html' %}
    <br>
    <br>
    <br>
</div>

{% endblock content %}