{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <div class="col-4 mt-2">
            <a class="navbar-brand" href="#"><h2>AskMe</h2></a>
        </div>

        <div class="col-5">
            <form class="form-inline mr-4">
                <input class="form-control mr-4" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" type="submit">ASK!</button>
            </form>
        </div>

        <div class="col-5 mr-1 form-inline">
            <img src="{% static '/img/64x64.jpg' %}" class="rounded float-right mr-3" alt="avatar in navbar">
    
            <p class="lead">
              <ul class="list-inline">
                <li>DR. Pepper</li>
                <li class="list-inline-item"><a  href="settings.html"><strong>settings</strong></a></li>
                <li class="list-inline-item"><a href="#"><strong>log out</strong></a></li>
              </ul>
            </p>
        </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-9 mt-5">
            <div>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <h2><a>New Questions</a></h2>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Hot Questions</a>
                    </li>
                </ul>

                <ul class="list-unstyled">
                    <li class="list-unstyled-item">
                        <div class="bg-light border border-dark rounded mt-4">
                            
                            <img src="{% static '/img/64x64.jpg' %}" class="rounded float-left mt-2 ml-2" alt="avatar in post">
                            
                            <h3 class="mt-2">
                                <a class="ml-3" href="#">How to build a moon park?</a>
                            </h3>

                            <p class="ml-5">
                                <a class="ml-3"> Guys, I have trouble with a moon park. 
                                    Can't find th black-jack. 
                                </a>
                            </p>
                            
                            <ul class="list-inline ml-5">
                                <li class="list-inline-item ml-4">
                                    <h5><a class="ml-3" href="#">Answer(3)</a></h5>
                                </li>
                                <li class="list-inline-item ml-5">
                                    <h5>Tags: </h5>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><h5>black-jack</h5></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><h5>bender</h5></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <br>
                <button type="button" class="btn btn-outline-primary">1</button>
                <button type="button" class="btn btn-outline-primary">2</button>
                <button type="button" class="btn btn-outline-primary">3</button>
                <button type="button" class="btn btn-outline-primary">...</button>
                <button type="button" class="btn btn-outline-primary">53</button>
            </div>
        </div>

        <div class="col-3 mt-5">
            <div>
                <div class="alert">
                    <h2>Popular Tags</h2>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#"><strong>Perl</strong></a></li>
                        <li class="list-inline-item"><a href="#"><strong>Python</strong></a></li>
                        <li class="list-inline-item"><a href="#"><strong>Technopark</strong></a></li>
                        <br>
                        <li class="list-inline-item"><a href="#"><strong>MySQL</strong></a></li>
                        <li class="list-inline-item"><a href="#"><strong>Django</strong></a></li>
                        <br>
                        <li class="list-inline-item"><a href="#"><strong>Mail.ru</strong></a></li>
                        <li class="list-inline-item"><a href="#"><strong>Voloshin</strong></a></li>
                        <li class="list-inline-item"><a href="#"><strong>Firefox</strong></a></li>
                    </ul>
                    <h2>Best Members</h2>
                    <ul class="list-unstyled">
                        <li class="list-unstyled-item"><a href="#">Mr. Freeman</a></li>
                        <li class="list-unstyled-item"><a href="#">Dr. House</a></li>
                        <li class="list-unstyled-item"><a href="#">Bender</a></li>
                        <li class="list-unstyled-item"><a href="#">Queen Victoria</a></li>
                        <li class="list-unstyled-item"><a href="#">V. Pupkin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static '/js/jquery-3.4.1.slim.min.js' %}"></script>
<script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>

</html>
