{% extends 'base.html' %}

{% block content %}
<div>
    <ul class="list-inline">
        <li class="list-inline-item">
            <h2><a>New Questions</a></h2>
        </li>
        <li class="list-inline-item">
            <a href="#">Hot Questions</a>
        </li>
    </ul>

    {% for question in questions %}
        {% include 'inc/question.html' %}
    {% endfor %}

    <br>
    <button type="button" class="btn btn-outline-primary">1</button>
    <button type="button" class="btn btn-outline-primary">2</button>
    <button type="button" class="btn btn-outline-primary">3</button>
    <button type="button" class="btn btn-outline-primary">...</button>
    <button type="button" class="btn btn-outline-primary">53</button>
    <br>
    <br>
    <br>
</div>

{% endblock content %}

