{% extends 'base.html' %}

{% block content %}
<h2>Sign in</h2>
<br>
<form>  
    <div class="form-group">
        <label for="Login"><h4>Login</h4></label>
        <input type="text" class="form-control" id="Login" placeholder="">
      </div>
      <div class="form-group">
        <label for="Password"><h4>Password</h4></label>
        <input type="password" class="form-control" id="Password" placeholder="">
      </div>
      <button class="btn btn-primary" type="submit">Sign in!</button>
</form>
<br>
<br>
<a href="{% url 'signup' %}"><h4>Create new account</h4></a>

{% endblock content %}