{% load static %}

<div class="border border-dark mt-4">
    <div class="media">
        <div class="mr-3">
            <div class="text-center">
                <img src="{% static '/img/64x64.png' %}" class="px-3 mt-2 mb-3" alt="avatar in post">
            </div>
            <div class="text-center">
                <img src="{% static 'img/up-arrow.png' %}" class="" alt="up_arrow">
            </div>
    
            <div class="text-center">
                <a>{{ answer.rating }}</a>
            </div>
            
            <div class="text-center">
                <img src="{% static 'img/down-arrow.png' %}" class="" alt="down_arrow">
            </div>
        </div>
    
        <div class="media-body">
            <a class="mt-4">
                <h6 class="py-2">
                   {{ answer.text }}
                </h6>
            </a>
    
            <div class="mt-5">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" 
                    value="" id="check_correct">
                    <label class="form-check-label" for="check_correct">
                      Correct
                    </label>
                  </div>
            </div>
        </div>
    </div>
</div>
    