{% load static %}

<div class="border border-dark rounded mt-4">
    <div class="media">
        <div class="mr-3">
            <div class="text-center">
                <img src="{% static '/img/64x64.png' %}" class="px-3 mt-2 mb-3" alt="avatar in post">
            </div>
            <div class="text-center">
                <img src="{% static 'img/up-arrow.png' %}" class="" alt="up_arrow">
            </div>

            <div class="text-center">
                <a>0</a>
            </div>
            
            <div class="text-center">
                <img src="{% static 'img/down-arrow.png' %}" class="" alt="up_arrow">
            </div>
        </div>

        <div class="media-body">
            <a href="#"><h4 class="my-2">{{ question.title }}</h4></a>
            <a class="mt-4"><h6>{{ question.text }}</h6></a>

            <div class="mt-5">
                <ul class="list-inline">
                    <li class="list-inline-item mr-5"><a href="#"><h5>Answer(3)</h5></a></li>

                    <li class="list-inline-item">
                        <a><h5>Tags:</h5></a>
                    </li>
                    <li class="list-inline-item"><a href="{% url 'tag' tag='black-jack' %}"><h5>black-jack</h5></a></li>
                    <li class="list-inline-item"><a href="{% url 'tag' tag='bender' %}"><h5>bender</h5></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
