{% load static %}

<div class="bg-light border border-dark rounded mt-4">
    <img src="{% static '/img/64x64.jpg' %}" class="rounded float-left mt-2 ml-2" alt="avatar in post">

    <h3 class="mt-2">
        <a class="ml-3" href="#">How to build a moon park?</a>
    </h3>

    <p class="ml-5">
        <a class="ml-3"> Guys, I have trouble with a moon park.  Can't find th black-jack. </a>
    </p>

    <ul class="list-inline ml-5">
        <li class="list-inline-item ml-4">
            <h5><a class="ml-3" href="#">Answer(3)</a></h5>
        </li>
        <li class="list-inline-item ml-5">
            <h5>Tags: </h5>
        </li>
        <li class="list-inline-item">
            <a href="#"><h5>black-jack</h5></a>
        </li>
        <li class="list-inline-item">
            <a href="#"><h5>bender</h5></a>
        </li>
    </ul>
</div>
