<div>
    <div class="alert">
        <h2>Popular Tags</h2>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="{% url 'tag' tag='Perl' %}"><strong>Perl</strong></a></li>
            <li class="list-inline-item"><a href="{% url 'tag' tag='Python' %}"><strong>Python</strong></a></li>
            <li class="list-inline-item"><a href="{% url 'tag' tag='Technopark' %}"><strong>Technopark</strong></a></li>
            <br>
            <li class="list-inline-item"><a href="{% url 'tag' tag='MySQL' %}"><strong>MySQL</strong></a></li>
            <li class="list-inline-item"><a href="{% url 'tag' tag='Django' %}"><strong>Django</strong></a></li>
            <br>
            <li class="list-inline-item"><a href="{% url 'tag' tag='Mail.ru' %}"><strong>Mail.ru</strong></a></li>
            <li class="list-inline-item"><a href="{% url 'tag' tag='Voloshin' %}"><strong>Voloshin</strong></a></li>
            <li class="list-inline-item"><a href="{% url 'tag' tag='Firefox' %}"><strong>Firefox</strong></a></li>
        </ul>
        <br>
        <h2>Best Members</h2>
        <ul class="list-unstyled">
            <li class="list-unstyled-item"><a href="#">Mr. Freeman</a></li>
            <li class="list-unstyled-item"><a href="#">Dr. House</a></li>
            <li class="list-unstyled-item"><a href="#">Bender</a></li>
            <li class="list-unstyled-item"><a href="#">Queen Victoria</a></li>
            <li class="list-unstyled-item"><a href="#">V. Pupkin</a></li>
        </ul>
    </div>
</div>